<div class="sidebar-content">
    <h2>Table of Contents</h2>
    <ul class="nav-list">
        <li><a href="{{ '/research' | relative_url }}">Research</a></li>
        <li><a href="{{ '/research#data-centric-llm' | relative_url }}">I. Topic a</a></li>
        <li><a href="{{ '/research#llm-agents' | relative_url }}">II. Topic b</a></li>
        <li><a href="{{ '/research#ai-alignment' | relative_url }}">III. Topic c</a></li>
        <li><a href="{{ '/research#ai-for-science' | relative_url }}">IV. Topi d</a></li>
        <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>

    </ul>
    
    <h2>Quick Links</h2>
    <ul class="quick-links">
        <li><a href="https://scholar.google.co.uk/citations?hl=en&user=6zfnq1kAAAAJ" target="_blank">Google Scholar</a></li>
    </ul>
</div>